.App {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  opacity: 0;
  transition: 2s;
  opacity: 1;
}

.App .input {
  position: fixed;
  top: 0;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  z-index: 999;
  background-color: rgb(124, 181, 236);
}

::placeholder {
  color: #888;
}

.App .input i {
  color: #888;
  transform: translate(-150%, 0);
}

.App .input input {
  color: #888;
  width: 50%;
  padding: 5px 10px;
  outline: none;
  box-sizing: content-box;
  border-color: transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.App .input input:hover {
  color: rgb(124, 181, 236);
}

.App .input input:hover::placeholder {
  color: rgb(124, 181, 236);
}

.App .input:hover i {
  color: rgb(124, 181, 236);
}

.App .input :hover::placeholder {
  color: rgb(124, 181, 236);
}

.App footer p {
  max-width: 1200px;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-transform: uppercase;
  padding: 20px;
  color: white;
  background-color: rgb(124, 181, 236);
}


@media (max-width: 576px) {
  .App .input {
    padding: 10px;
  }

  .App footer p {
    padding: 10px;
  }
}