.highchart {
    margin-bottom: 80px;
    animation: moveHighchart .7s ease-in .5s backwards 1;
}

@keyframes moveHighchart {
    from {
        opacity: 0;
        transform: translate(-10%, 0);
    }

    ;

    to {
        opacity: 1;
        transform: translate(10%, 0);
    }

    ;
}

@media (max-width: 576px) {
    .highchart {
        margin-bottom: 80px;
    }
}